<h1>Create a new Pokémon!</h1>
<form method="POST" action="/pokemon">
    <label for="species">Species</label>
    <input type="text" name="species" value="<%= @pokemon ? @pokemon.species : ""%>">
    <br>
    <br>

    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" value="<%= @pokemon ? @pokemon.nickname : ""%>">
    <br>
    <br>

    <label for="number">Number</label>
    <input type="text" name="number" value="<%= @pokemon ? @pokemon.number : ""%>">
    <br>
    <br>

    <label for="pokemon_type">Type</label>
    <input type="text" name="pokemon_type" value="<%= @pokemon ? @pokemon.pokemon_type : ""%>">
    <br>
    <br>

    <input type="submit">
</form>


