<h1>Create a new Pokémon!</h1>
<form method="POST" action="/pokemon">
    <label for="species">Species</label>
    <select name="species">
      <% Species.all.each do |species_name| %>
      <option value="<%= species_name.name %>"><%= species_name.name %></option>
      <% end %>
      </select>
    <br>
    <br>


    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" value="<%= @pokemon ? @pokemon.nickname : ""%>">
    <br>
    <br>



    <label for="notes">Notes</label><br>
    <textarea name="notes" value="<%= @pokemon ? @pokemon.notes : ""%>"></textarea>
    <br>
    <br>

    <input type="submit">
</form>


