<div class="container">
  <header><img src="images/pokemonlogo2.png" class="img-responsive main-image" width="700"></header>
  <div class="col-md-8 col-md-offset-2">
    <% if @user %>
    <h2>Welcome to the wonderful world of Pokémon, <%= @user.username %>!</h2>
    <% else %>
        <h2>Welcome to the wonderful world of Pokémon!</h2>
    <% end %>
    <div class="content">
      <p>This is a content management system for keeping track of your Pokémon.</p>
    </div>



  </div>
</div>
